/* Set the font family and background image of the body */
body{
    font-family: "Raleway";
    background-image: url(https://i.pinimg.com/564x/d2/44/1f/d2441f3c0823dc24eec0c5827ac180d7.jpg);
    margin: 0;
    padding: 0;
}

/* Center align the h1 element and set the color to lightcoral */
h1 {
    text-align: center;
    margin-top: 30px;
    color: lightcoral;
  }

  /* Create a container with flex layout and set max width, margin,background color, box shadow, and border radius */
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 40px auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(5, 5, 5, 5);
    border-radius: 5px;
  }

 /* Set width and padding for the sidebar */
.sidebar {
  width: 30%;
  padding: 20px;
}


/* Remove default styles and padding for the sidebar ul */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }


/* Style each item in the sidebar */
.sidebar li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    /* line-height: 1.5; */
    cursor: pointer;
  }

  /* Create a bullet point for each item in the sidebar */
.sidebar li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 10px;
    height: 10px;
    background-color: lightcoral;
    border-radius: 50%;
  }

  /* Set padding for the main content area */
.main {
    flex-grow: 1;
    padding: 20px;
  }
  

/* Center align the movie details section */
.movie-details {
    text-align: center;
  }




