/* Set the font family and background image of the body */
body{
    font-family: "Raleway";
    background-image: url(https://i.pinimg.com/564x/d2/44/1f/d2441f3c0823dc24eec0c5827ac180d7.jpg);
    margin: 0;
    padding: 0;
}

/* Center align the h1 element and set the color to lightcoral */
h1 {
    text-align: center;
    margin-top: 30px;
    color: lightcoral;
  }
  